@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #1a1e23;
  --black-light: #292f36;
  --jade: #12f7d6;
  --ice: #98faec;
  --grey: #43454d;
  --white: #fff;
  --red: #e54f26;
  --blue: #28a9e0;
  --blue-dark: #0c73b8;
}

@layer base {
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
  li {
    list-style: none;
  }
}
@layer components {
  /*  Ubuntu */
  .big-header-ubuntu {
    @apply text-white font-ubuntu font-[400] text-[117px]/[134px];
  }
  .h1-ubuntu {
    @apply text-white font-ubuntu font-[400] text-[64px]/[72px];
  }
  .h2-ubuntu {
    @apply text-white font-ubuntu font-[400] text-[32px]/[36px];
  }
  .button-primary {
    @apply text-white font-ubuntu font-[400] text-[20px]/[24px];
  }
  .article-ubuntu {
    @apply text-white font-ubuntu font-[300] text-[16px]/[32px];
  }
  .p-ubuntu {
    @apply text-white font-ubuntu font-[300] text-[16px]/[18px];
  }
  .label-ubuntu-medium {
    @apply text-white font-ubuntu font-[500] text-[14px]/[16px];
  }
  .label-ubuntu-light {
    @apply text-white font-ubuntu font-[300] text-[14px]/[16px];
  }
  /* IBM-plex-mono */
  .number-mono {
    @apply text-white font-ubuntu font-[500] text-[48px]/[62px];
  }
  .h2-mono {
    @apply text-white font-ubuntu font-[500] text-[32px]/[42px];
  }
  .logo-mono {
    @apply text-white font-ubuntu font-[500] text-[32px]/[42px];
  }
  .menu-mono {
    @apply text-white font-ubuntu font-[400] text-[24px]/[32px];
  }
  .media-mono {
    @apply text-white text-white font-ubuntu font-[400] text-[16px]/[20px];
  }
  .p-mono {
    @apply text-white font-ubuntu font-[400] text-[16px]/[20px];
  }
  .code-mono {
    @apply text-white font-ubuntu font-[400] text-[14px]/[18px];
  }
}
@layer utilities {
}
